.input {
  align-items: center;
  display: flex;
}

textarea {
  border: 0;
  flex: 1;
  font-size: 56px;
  margin-right: 40px;
}

.add-button {
  border: 0;
  cursor: pointer;
  display: inline;
  padding: 0;
}

.add-icon {
  width: 56px;
}
