<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyA8YTCo9di3zROKYpdKD1JLNI1bg-NnhKY",
    authDomain: "cloud-copy-paste.firebaseapp.com",
    databaseURL: "https://cloud-copy-paste.firebaseio.com",
    projectId: "cloud-copy-paste",
    storageBucket: "cloud-copy-paste.appspot.com",
    messagingSenderId: "729151789086"
  };
  firebase.initializeApp(config);

  // setup a database reference at path /channels/channelId
  const channel = firebase.database().ref(location.pathname.slice(1));
  // add a listener to the path that fires any time the value of the data changes
  channel.on('value', function(data) {
    const newEntries = data.val();

    const event = new CustomEvent("updateentries", {
      detail: newEntries
    });
    document.dispatchEvent(event);
  });
</script>
