<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ccp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300|Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/dist/ccp/styles.css">
</head>

<body>
  <app-root></app-root>

  <script type="text/javascript" src="/dist/ccp/runtime.js"></script>
  <script type="text/javascript" src="/dist/ccp/polyfills.js"></script>
  <script type="text/javascript" src="/dist/ccp/main.js"></script>
</body>

</html>
