main {
  margin: 0 auto;
  max-width: 1060px;
  padding: 0 20px;
}

h1, h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  margin: 100px 0 40px;
  text-transform: uppercase;
}
